extends layout

block content
  h1= title
  p Welcome to #{title}
  p The URL entered is #{url}
  p The Title of the URL is #{urlFilename}
  form(action="/url/parse" method="get")
    label(for="team_name" ) Enter URL: 
    input(id="url_input" type="text" name="url_field" value="http://")
    input(type="submit" value="OK")
  
